.third-cont{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
    padding-top: 40px;
    padding-bottom: 40px;
}


.third-heading{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
}

@media screen and (min-width:769px) {
    .third-heading{
        width: 37%;
        font-size: 38px;
    }
}

.flex-idus{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media screen and (min-width:769px) {
    .flex-idus{
        width: 80%;
    }
}

.flex-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width:769px) {
    .flex-box{
        width: 350px;
        margin-bottom: 30px;
        margin-left: 25px;
    }
}

.img{
    height: 40%;
    width: 40%;
}

@media screen and (min-width:769px) {
    .img{
        height: 60%;
        width: 60%;
    }
}

.img-para{
    width: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (min-width:769px) {
    .img-para{
        font-size: 18px;
        width: 70%;
    }
}